In [10]:
import pandas as pd
import sqlite3
from pathlib import Path
import time
from datetime import datetime
from sqlalchemy import create_engine

In [2]:

conn = sqlite3.connect('Data/biblioteca.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS livros (
               ID INTEGER PRIMARY KEY AUTOINCREMENT,
               Titulo TEXT NOT_NULL UNIQUE,
               Autor TEXT NOT_NULL,
               Ano_de_Publicação DATE NOT_NULL,
               Preco FLOAT NOT_UNIQUE
    )
''')
cursor.close()

criando dataframe do sql

In [15]:
conn = sqlite3.connect('Data/biblioteca.db')
sql_query = pd.read_sql_query(
    """ SELECT * FROM livros""", conn,
    )  
df = pd.DataFrame(sql_query, columns=["Titulo", "Autor", "Ano_de_publicação", "Preco"])
conn.close()

Backup

In [4]:
def Backup():
    currentDateTime = datetime.now().strftime("%m-%d-%Y %H-%M-%S %p")
    backup = Path(f'/Users/Pichau/Documents/Ciências Computação/Tópicos-Especiais/Trabalho-Topicos-Especiais-02/Backup/Backup{currentDateTime}.csv')  
    backup.parent.mkdir(parents=True, exist_ok=True) 
    df.to_csv(backup)

Adiciona novo livro

In [13]:
conn = sqlite3.connect('Data/biblioteca.db')
cursor = conn.cursor()

Backup()

titulo = input('Titulo: ').title()
autor = input('Autor: ').title()
ano_publicacao = input('Ano de publicação: ')
preco = float(input("Preço: "))
cursor.execute('''
                INSERT INTO livros (Titulo, Autor, Ano_de_publicação, Preco) VALUES(?, ?, ?, ?)
                ''', (titulo, autor, ano_publicacao, preco))
conn.commit()
sql_query = pd.read_sql_query(
    """ SELECT * FROM livros""", conn,
    )  
df = pd.DataFrame(sql_query, columns=["Titulo", "Autor", "Ano_de_publicação", "Preco"])
cursor.close

OperationalError: database is locked

lista livros

In [17]:
conn = sqlite3.connect('Data/biblioteca.db')
sql_query = pd.read_sql_query(
    """ SELECT * FROM livros""", conn,
    )  
df = pd.DataFrame(sql_query, columns=["Titulo", "Autor", "Ano_de_publicação", "Preco"])
conn.close()
df.set_index('Titulo')
print(df)

  Titulo Autor  Ano_de_publicação  Preco
0      A     A                NaN    3.0

atualiza preço

In [9]:
conn = sqlite3.connect('Data/biblioteca.db')
cursor = conn.cursor()

Backup()

print(df)
busca = input("Insira o título do livro: ").title()
novo_preco = float(input("Insira o novo preço do Livro: "))
cursor.execute('''
                UPDATE livros
                SET Preco = ?
                WHERE Titulo = ?
               ''', (novo_preco, busca))
conn.commit()
sql_query = pd.read_sql_query(
    """ SELECT * FROM livros""", conn,
    )  
df = pd.DataFrame(sql_query, columns=["Titulo", "Autor", "Ano_de_publicação", "Preco"])
conn.close()

Empty DataFrame
Columns: [Titulo, Autor, Ano_de_publicação, Preco]
Index: []

remover livro

In [18]:
conn = sqlite3.connect('Data/biblioteca.db')
cursor = conn.cursor()

Backup()

print(df)
busca = input("Insira o título do livro: ").title()
cursor.execute('''
                DELETE FROM livros
                WHERE Titulo = ?
               ''', (busca))
conn.commit()
sql_query = pd.read_sql_query(
    """ SELECT * FROM livros""", conn,
    )  
df = pd.DataFrame(sql_query, columns=["Titulo", "Autor", "Ano_de_publicação", "Preco"])
conn.close()

  Titulo Autor  Ano_de_publicação  Preco
0      A     A                NaN    3.0

OperationalError: database is locked

listar por autor

In [38]:
df_autor = df.set_index('Autor')
df_autor.loc[input("Insira o nome do autor:").title()]

Titulo                  A
Ano_de_publicação     NaN
Preco                22.0
Name: A, dtype: object

Exportar para CSV

In [9]:
conn = sqlite3.connect('Data/biblioteca.db')
sql_query = pd.read_sql_query(
    """ SELECT * FROM livros""", conn,
)
df = pd.DataFrame(sql_query, columns=["Titulo", "Autor", "Ano_de_publicação", "Preco"])
novo_csv = Path(f'/Users/Pichau/Documents/Ciências Computação/Tópicos-Especiais/Trabalho-Topicos-Especiais-02/CSV/{input("Insira o nome do arquivo CSV: ").title()}.csv')  
novo_csv.parent.mkdir(parents=True, exist_ok=True)
df.to_csv(novo_csv)
print("Arquivo CSV criando na Pasta CSV")

Arquivo CSV criando na Pasta CSV